<launch>

<!-- Launch Gazebo  -->
<include file="$(find pkg_vb_sim)/launch/task2_world.launch" />

<include file = "$(find pkg_vb_sim)/launch/gazebo_spawn_ur5_1.launch" >
    <arg name="arg_x" value="0.04" />
    <arg name="arg_y" value="0.76" />
    <arg name="arg_z" value="0.05" />
    <arg name="arg_R" value="0.0" />
    <arg name="arg_P" value="0.0" />
    <arg name="arg_Y" value="3.14" />
</include>

<!-- moveit launch file -->
<include file="$(find pkg_moveit_ur5_1)/launch/move_group.launch">
  <arg name="publish_monitored_planning_scene" value="true" />
  <arg name="debug" value="false" />
</include>

<include file="$(find pkg_moveit_ur5_1)/launch/moveit_rviz.launch">
  <arg name="rviz_config" value="$(find pkg_moveit_ur5_1)/launch/moveit.rviz"/>
  <arg name="debug" value="false"/>
  </include>
<arg name="scene_file" default="$(find pkg_task2)/config/rviz/ur5_1_shelf.scene"/> 
<node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>

</launch>
